# Ignore 'target' directory in any subdirectory
**/target/

# General Rust ignores
**/*.rs.bk

# Ignore Cargo.lock files for each project (if applicable)
**/Cargo.lock

# Other general ignores (editors, operating systems, etc.)
*.swp
*.bak
.DS_Store
.env
.idea/
.vscode/